<app-layout [layout]="layout"></app-layout>

<!--<form class="flex flex-col items-center pt-20">-->

<!--  @for ( item of layout.elements ; track $index) {-->
<!--    @switch (item.type){-->
<!--      @case ('text') {-->
<!--        <label class="">{{item.label}}</label>-->
<!--        <input class="border border-gray-400" type="text" name="{{item.type}}" >-->
<!--      }-->
<!--      @case ("password"){-->
<!--        <label class="">{{item.label}}</label>-->
<!--        <input class="border border-gray-400" type="password" name="{{item.type}}" >-->
<!--      }-->
<!--      @case ("button"){-->
<!--        <button>{{item.label}}</button>-->
<!--      }-->

<!--    }-->

<!--  }-->
<!--</form>-->
